fastapi
uvicorn[standard]
python-multipart
torch
torchvision
numpy
pandas
scikit-learn
Pillow
opencv-python-headless
ultralytics
open-clip-torch
faiss-cpu
tqdm
transformers
albumentations
pytesseract
scikit-image
